* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding-left: 6%;
    height: 8vh;
    background-color: rgb(255, 119, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
}

nav h1 {
    margin-left: 7%;
}

.navbar {
    display: flex;
    justify-content: space-around;
}


.navbar a {
    margin-right: 30px;
}

.bg {
    height: 82vh;
    background-image: url(../img/background-02.jpg);
    background-size: cover;
    background-position: none;
}

.conteudo {
    margin-left: 7%;
    padding-top: 6%;
    font-size: 24px;
    opacity: 1;
}

.conteudo h2 {
    color: orangered;
    text-shadow: 2px 2px black;
    font-weight: bolder;
}

.conteudo p {
    color: white;
    margin: 1% 0;
}

.conteudo button {
    margin-top: 1%;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 119, 0);

    border: 2px solid black;
}

.servicos {
    height: 100vh;
}

.servicos h2 {
    padding-top: 3%;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 119, 0);

}

.container-box {
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    border: 3px solid rgb(255, 119, 0);
    border-radius: 20px;
    padding: 25px;
    width: 250px;
    text-align: center;
    color: black;
    margin: 2% 0;
}

.box>p {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confira {
    text-align: center;
    font-size: 33px;
    color: rgb(255, 119, 0);
}

.confira button {
    width: 200px;
    height: 40px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2% 0;
}

.team-bg {
    height: 90vh;
    background-color: rgb(0, 0, 255, 0.1);
}

.team-bg h2 {
    text-align: center;
    padding: 4% 0;
}

.container-team {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.team-box {
    height: 300px;
    border-radius: 40px;
    margin: 2% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(0, 0, 255, 0.2), rgb(0, 153, 255, 0.2));
}

.team-img {
    border: 1px solid black;
    border-radius: 100px;
}

.name {
    background: blue;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
    font-size: 1.2rem;
}

.cargo {
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 1px black;
}

.contact {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact h3 {
    margin: 2% 0;
    font-size: 28px;
    border-bottom: 3px solid blue;
}

.inputs {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    padding: 30px 15px;
}

input {
    width: 400px;
    height: 40px;
    margin: 2% 0;
    font-size: 18px;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-form {
    background-color: blue;
    color: white;
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;

}